server {
        listen {{ port }} default_server;

        root {{ project_destination_repo }};

        index {{ index_file }};

        server_name {{  ansible_default_ipv4.address }};

        location / {
                try_files $uri $uri/ = 404;
        }
}
